<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button slot="end" routerLink="/nav">
          <ion-icon name="share-alt"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Discotecas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-row class="IntroAlmacen">
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco6.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Crosover</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco3.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Reggae</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
          <ion-card>
              <ion-img src="/assets/img1/Disco2.jpg" routerLink="/discotecas"></ion-img>
              <ion-card-header>
                <ion-card-title routerLink="/discotecas">Vallenato</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco4.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Rock</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row class="IntroAlmacen">
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco5.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Hip Hop</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco1.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Jazz</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row class="IntroAlmacen">
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco7.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Salsa</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card>
            <ion-img src="/assets/img1/Disco8.jpg" routerLink="/discotecas"></ion-img>
            <ion-card-header>
              <ion-card-title routerLink="/discotecas">Electronica</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>