<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button  slot="end" ><ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Tiendas de barrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>¡Tiendas en tu localidad!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Estas son las tiendas de barrio disponibles en tu localidad, con su carta de licores y precios. 
        </p>
      </ion-card-content>
    </ion-card>

         <ion-card class="pruebas-card">
           <ion-img src="/assets/tienda1.jpg"></ion-img>
           <ion-card-header>
             <ion-card-title>Ejemplo de Tiendas</ion-card-title>
           </ion-card-header>
           <ion-card-content>
             <p>Pasa un momento agradable, acá encontrarás un buen ambiente y musica variada, acompañados de los mejores
               cocteles que tenemos en la carta.
             </p>
           </ion-card-content>
         </ion-card>
 
         
           <ion-card class="pruebas-card">
             <ion-img src="/assets/Tienda2.jpg"></ion-img>
             <ion-card-header>
               <ion-card-title>Ejemplo de Tiendas 2</ion-card-title>
             </ion-card-header>
             <ion-card-content>
               <p>Pasa un momento agradable, acá encontrarás un buen ambiente y mucho Rock, acompañados de los mejores
                 cocteles que tenemos en la carta.
               </p>
             </ion-card-content>
           </ion-card>
 

</ion-content>