<ion-header>
  <ion-toolbar>
    <ion-title>Cafe - Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-content>
        <ion-card class="pruebas-card">
          <ion-img src="/assets/superior.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de Cafe - Bar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Unas copas y buena musica, ven y disfruta.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card class="pruebas-card">
          <ion-img src="/assets/superior.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de Cafe - Bar 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Unas copas y buena musica, ven y disfruta.
            </p>
          </ion-card-content>
        </ion-card>
</ion-content>
