<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" hrer="./loc">
        <ion-icon href="./modal-tienda" name="share-alt"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TiendaEjemplo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>¡Tiendas en tu localidad!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Estas son las tiendas de barrio más visitadas e importantes en
        tu localidad, apoyemos a nuestros emprendedores vecinos.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>