
 <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Planes</ion-title>
    </ion-toolbar>
  
  </ion-header>

  <ion-grid>
        <ion-row>
             
              <ion-card>
                <ion-item>
                  <ion-icon name="home" slot="start"></ion-icon>
                  <ion-label>Plan familiar</ion-label>
                  <ion-button fill="outline" slot="end" (click)="presentModalFamiliar()">Crear</ion-button>
                </ion-item>
              
                <ion-card-content>
                  Arma tu plan familiar, planea una fecha y hora, define a quienes invitarás y define un lugar.
                </ion-card-content>
              </ion-card>
            
         </ion-row>
         <ion-row>
              <ion-card>
                  <ion-item>
                    <ion-icon name="beer" slot="start"></ion-icon>
                    <ion-label>Arma tu vaca</ion-label>
                    <ion-button fill="outline" slot="end" (click)="presentModalVaca()">Crear</ion-button>
                  </ion-item>
                
                  <ion-card-content>
                  Invita a tus amigos o conocidos y proponles armar una vaca, define un valor a aportar, fecha y hora y
                  y el lugar en el cual se encontrarán.
                  </ion-card-content>
                </ion-card>
         </ion-row>

         <ion-row>
          <ion-card>
              <ion-item>
                <ion-icon name="ios-cloudy-night" slot="start"></ion-icon>
                <ion-label>Búsca eventos</ion-label>
                <ion-button fill="outline" slot="end" (click)="presentModalEvento()">Buscar</ion-button>
              </ion-item>
            
              <ion-card-content>
              Busca los mejores eventos en tu ciudad, ahí eventos para todos los gustos, ven y dusfruta.
              </ion-card-content>
            </ion-card>
     </ion-row>
         
   </ion-grid>


