<ion-header>
  <ion-toolbar>
    <ion-title>Almacenes de cadena</ion-title>
    <ion-button color="light" slot="end" (click)="closeModal()" size="small"><ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content>
        <ion-card class="pruebas-card">
          <ion-img src="/assets/Almacen2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de Almacenes de cadena</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Visita nuestra sección de bebidas, encontraras las deseadas a precio sugerido al público.
              Carta:<br>
              Cervezas nacionales: $3000 <br>
              Smirnoff: $5000
            </p>
          </ion-card-content>
        </ion-card>

        <ion-content>
          <ion-card class="pruebas-card">
            <ion-img src="/assets/Almacen1.png"></ion-img>
            <ion-card-header>
              <ion-card-title>Ejemplo de Almacenes de cadena</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Visita nuestra sección de bebidas, encontraras las deseadas a precio sugerido al público.
                Carta:<br>
                Vinos nacionales: $30000 <br>
                Vinos Chilenos: $50000 <br>
                Reservas: $80000
              </p>
            </ion-card-content>
          </ion-card>
</ion-content>
