<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end" routerLink="/cafe-bar">
        <ion-icon name="share-alt"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>cafeYbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="pruebas-card">
    <ion-img src="/assets/Bar2.jpg" routerLink="/cafebar"></ion-img>
    <ion-card-header>
      <ion-card-title>Cafe - Bar Hits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a routerLink="/cafebar">
        <p>Unas copas y buena musica, ven y disfruta.</p>
      </a>
    </ion-card-content>
  </ion-card>

  <ion-card class="pruebas-card">
    <ion-img src="/assets/Bar1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Cafe - Bar 22</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <a routerLink="/cafebar">
          <p>Unas copas. cocteles y la música la eliges tú, ven y disfruta.</p>
        </a>
      </ion-card-content>
  </ion-card>
</ion-content>