<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button  slot="end" (click)="presentModalAmigos()"><ion-icon name="add-circle"></ion-icon>
            </ion-button>  
          </ion-buttons>
    <ion-title>Arma tu vaca

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Defina el valor de la vaca</ion-label>
        <ion-input type="number" [(ngModel)]="valorVaca"></ion-input>
      </ion-item>
      <ion-list>
          <ion-item *ngFor="let amigo of amigos; let identificador=index">
            <ion-label>
                <h4>{{ amigo.nombreAmigo | uppercase}}</h4>
                <p>{{ amigo.correoAmigo}}</p>
            </ion-label>
      
            <ion-button  slot="end" (click)="presentAlertConfirm(amigo.nombreAmigo,amigo.correoAmigo,identificador)" [disabled]="botonDeshabilitado[identificador]">
      
                <ion-icon slot="icon-only" name="mail"></ion-icon>
              </ion-button>
      
          </ion-item>
        </ion-list>
        <ion-button *ngIf="amigos" color="primary" (click)="continuar()" expand="block">Continuar
          </ion-button>
</ion-content>
