<ion-header>
  <ion-toolbar>
    <ion-title>Discotecas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-content>
        <ion-card class="pruebas-card">
          <ion-img src="/assets/superior.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de discotecas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Pasa un momento agradable, acá encontrarás un buen ambiente y musica variada, acompañados de los mejores
              cocteles que tenemos en la carta.
            </p>
          </ion-card-content>
        </ion-card>

        
          <ion-card class="pruebas-card">
            <ion-img src="/assets/superior.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Ejemplo de discotecas 2</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Pasa un momento agradable, acá encontrarás un buen ambiente y mucho Rock, acompañados de los mejores
                cocteles que tenemos en la carta.
              </p>
            </ion-card-content>
          </ion-card>

</ion-content>
