<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button  slot="end" (click)="closeModal()"><ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Tiendas de barrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>¡Realiza una búsqueda!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Busca las tiendas de barrio disponibles por localidad. 
        </p>
      </ion-card-content>
    </ion-card>


<!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Filtra tu búsqueda"></ion-searchbar>



  

<ion-list lines="none">
      <ion-card href="./loc"> 
                 <ion-label>  Usaquén.</ion-label>
      </ion-card>

            <ion-card href="./loc">  
              <ion-label>  Chapinero.</ion-label>
           </ion-card>           

            <ion-card href="./loc"> 
              <ion-label>  Santa Fe.</ion-label>
           </ion-card>                 


                <ion-card href="./loc"> 
                  <ion-label>  San Cristóbal.</ion-label>
               </ion-card>                                

                <ion-card> 
                  <ion-label>  Barrios Unidos.</ion-label>
               </ion-card>                                 

                  <ion-card> 
                    <ion-label>  Engativá.</ion-label>
                 </ion-card>                     	

                  <ion-card> 
                    <ion-label>  Kennedy.</ion-label>
                 </ion-card>                     

                  <ion-card> 
                    <ion-label>  Fontibón.</ion-label>
                 </ion-card>                      

                    <ion-card> 
                      <ion-label>  Bosa.</ion-label>
                   </ion-card>                        	

                    <ion-card> 
                      <ion-label>  Ciudad Bolívar.</ion-label>
                   </ion-card>                            

                    <ion-card> 
                      <ion-label>  Suba.</ion-label>
                   </ion-card>                        

                      <ion-card> 
                        <ion-label>  Teusaquillo.</ion-label>
                     </ion-card>                         

                      <ion-card> 
                        <ion-label>  Los Mártires.</ion-label>
                     </ion-card>                         

                      <ion-card> 
                        <ion-label>  Antonio Nariño.</ion-label>
                     </ion-card>                          

                        <ion-card> 
                          <ion-label>  Puente Aranda.</ion-label>
                       </ion-card>                            

                        <ion-card> 
                          <ion-label>  La Candelaria.</ion-label>
                       </ion-card>   

                          <ion-card> 
                            <ion-label>  Sumapaz.</ion-label>
                         </ion-card>                          

                          <ion-card> 
                            <ion-label> Rafael Uribe Uribe.</ion-label>
                         </ion-card>                          

                          <ion-card> 
                            <ion-label>  Tunjuelito.</ion-label>
                         </ion-card>                          


      </ion-list> 

</ion-content>