<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tiendas de barrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>¡Realiza una búsqueda!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Busca las tiendas de barrio disponibles por localidad.
      </p>
    </ion-card-content>
  </ion-card>


  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Filtra tu búsqueda" autocomplete></ion-searchbar>





  <ion-list lines="none">
    <ion-card>
      <a href="./loc">
        <ion-label> Usaquén.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label> Chapinero.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label> Santa Fe.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>San Cristóbal.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Barrios Unidos.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Engativá.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Kennedy.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Fontibón.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Bosa.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Ciudad Bolívar.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Suba.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Teusaquillo.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Los Mártires.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Antonio Nariño.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label> Puente Aranda.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>La Candelaria.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Sumapaz.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label> Rafael Uribe Uribe.</ion-label>
      </a>
    </ion-card>

    <ion-card>
      <a href="./loc">
        <ion-label>Tunjuelito.</ion-label>
      </a>
    </ion-card>


  </ion-list>

</ion-content>