<ion-header>
  <ion-toolbar>
    <ion-title>Tiendas de barrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content>
        <ion-card class="pruebas-card">
          <ion-img src="/assets/Tienda2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de Tiendas de barrio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Las cervezas más economicas del barrio, ven que la música la eliges tú.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card class="pruebas-card">
          <ion-img src="/assets/Tienda1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de Tiendas de barrio 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Las cervezas más economicas del barrio, ven que la música la eliges tú.
            </p>
          </ion-card-content>
        </ion-card>
</ion-content>
