<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button  slot="end" (click)="presentModalFamiliar()"><ion-icon name="add-circle"></ion-icon>
            </ion-button>  
          </ion-buttons>
    <ion-title>Plan familiar

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let familiar of familiares; let identificador=index">
      <ion-label>
          <h4>{{ familiar.nombreFamiliar | uppercase}}</h4>
          <p>{{ familiar.correo}}</p>
      </ion-label>

      <ion-button  slot="end" (click)="presentAlertConfirm(familiar.nombreFamiliar,familiar.correo,identificador)" [disabled]="botonDeshabilitado[identificador]">

          <ion-icon slot="icon-only"  name="mail"></ion-icon>
        </ion-button>

    </ion-item>
    <ion-button *ngIf="familiares" color="primary" (click)="continuar()" expand="block">Continuar
      </ion-button>
  </ion-list>



</ion-content>
