<ion-header>
  <ion-toolbar>
    <ion-title>Próximos eventos</ion-title>
    <ion-button color="light" slot="end" (click)="closeModal()" size="small"><ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content>
        <ion-card class="pruebas-card">
          <ion-img src="/assets/Evento1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de evento 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>No te lo pierdas el próximo viernes en Keops Bar.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card class="pruebas-card">
          <ion-img src="/assets/Evento2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Ejemplo de event 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>No te lo pierdas el próximo sabado en Casa Babylon.
            </p>
          </ion-card-content>
        </ion-card>
</ion-content>
