<ion-header >
  <ion-toolbar>
    <ion-title>
      El Desparche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/superior.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>¡El amor puede esperar, la Cerveza NO porque se calienta!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dicen que quién bebe cerveza vive menos, menos estresado, menos preocupado, menos triste y menos amargado.<br>
          Suponemos que hoy buscas relajarte y estamos acá para ayudarte a armar un buen plan según tu presupuesto. 
        </p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Si van a manejar no tomen,
          <br> pero si van a tomar me llaman. :)</ion-label>
      </ion-list-header>

      
     <!--  <ion-item href="https://www.google.com/maps/search/almacenes+de+cadena+bogota/@4.6480351,-74.0660999,17z/data=!3m1!4b1?hl=es-419&authuser=0">-->
      <ion-button fill="outline" slot="end" (click)="presentModalAlmacen()">
        <ion-icon name="cart"></ion-icon>
        <ion-label>  Almacenes de cadena.</ion-label>
      </ion-button>

      <ion-item href="https://www.google.com/maps/place/Cigarrer%C3%ADa/@4.7224203,-74.0539257,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f8540ebd0f493:0x64ffe310cedab981!8m2!3d4.722415!4d-74.051737?hl=es-419&authuser=0">
        <ion-icon name="home"></ion-icon>
        <ion-label>  Tiendas de barrio.</ion-label>
      </ion-item>

      <ion-item href="https://www.google.com/maps/search/bares+bogota/@4.7225933,-74.1217783,12z/data=!3m1!4b1?hl=es-419&authuser=0">
        <ion-icon name="wine"></ion-icon>
        <ion-label>  Cafe - Bar.</ion-label>
      </ion-item>

      <ion-item href="https://www.google.com/maps/search/discotecas+bogota/@4.7229284,-74.1217785,12z/data=!3m1!4b1?hl=es-419&authuser=0">
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>  Discotecas.</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
