<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agrega un nuevo familiar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
      <ion-list>
          <ion-item *ngFor="let user of users; let identificador=index">
            <ion-avatar item-start>
              <img [src]="user.picture.medium">
            </ion-avatar>
            <h2>{{ user.name.first | uppercase }}</h2>
            <ion-button  slot="end" (click)="presentAlertConfirm(user.name.first,identificador)" [disabled]="buttonDisable[identificador]">

                <ion-icon slot="icon-only" name="mail"></ion-icon>
              </ion-button>

          </ion-item>
        </ion-list>
        <ion-button  color="primary" (click)="continuar()" expand="block">Continuar
        </ion-button>
    
      -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"> </ion-label>
          <ion-input placeholder="Nombres" [(ngModel)]="familiar.nombreFamiliar"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating"> </ion-label>
              <ion-input type="email" [(ngModel)]="familiar.correo" placeholder="Correo"></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating"> </ion-label>
              <ion-input type="text" [(ngModel)]="familiar.celular" placeholder="Celular"></ion-input>
            </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button  color="primary"  expand="block" (click)="guardarData()">Agregar</ion-button>

        </ion-col>
  
      </ion-row>
  </ion-grid>



</ion-content>